<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> -->
        <!-- this is an example of partials -->
        <!-- seperate file for header and footer and we include it with the desired extensions -->
        <!-- <%- include('_header'); %> -->

        <h1>Codeial <%= title %></h1>


        <section id="feed-posts">
            <h4>POSTS</h4>
            <% if (locals.user) { %>
            <form action="/posts/create" id="new-post-here" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="type here..."></textarea>
                    <input type="submit" value="Post">
            </form>
            <% } %>
            <div id="post-container">
                <ul>
                    <% for (post of posts) { %>
                        <p>
                            <li>
                                <%= post.content %>
                                <br>
                                <small>
                                    <%= post.user.name %>
                                </small>
                            </li>
                        </p>
                    <% } %>
                </ul>
            </div>
        </section>
        <!-- <%- include('_footer'); %>
    </body>
</html> -->

<!-- commenting the whole part as it is duplicating everything except the html tags and rendering it on the web page  -->
<!-- leaving only the variable part which changes accrodingly  -->