<!-- an example for layouts -->
<!-- the concept of layouts and how it works -->

<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <main id="header-container">
            <%- include('_header'); %>
        </main>
        
            <main id="main-layout">
                <%- body %>
            </main>


        <%- include('_footer'); %>

        <%- script %>
    </body>
</html>